@using System.Collections
@model MainPageModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
        <div class="row">

            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">Latest News</div>
                    <div class="card-body">
                        @{
                            foreach (var newsArticle in Model.NewsArticles)
                            {
                                <a asp-action="Article" asp-route-id="@newsArticle.Id" class="text-decoration-none text-black">
                                    <div class="media mb-3 border-2 card p-2">
                                        <img src="@newsArticle.ImageUrl" width="200px" height="100px" class="mr-3" alt="News Image">
                                        <div class="media-body">
                                            <h5 class="mt-0">@newsArticle.Title</h5>
                                            <p class="text-muted">@newsArticle.Date.ToLongDateString()</p>
                                            @newsArticle.Subtitle
                                            <!-- add tags here -->
                                            <div class = "mt-1 tags">
                                                @foreach (var tag in newsArticle.Tags)
                                                {
                                                    <span class="badge bg-secondary">@tag</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">Sort By</div>
                    <div class="card-body">
                        <ul class="list-group">
                            @{
                                var sortTypes = new List<string> {"latest", "oldest"};
                                var currentSort = ViewData["CurrentSort"] as string;
                                foreach (var sort in sortTypes)
                                {
                                    var listItemClass = (string?)sort == currentSort ? "list-group-item bg-light" : "list-group-item";
                                    <li class="@listItemClass" style="padding: 0;">
                                        <a asp-action="Index" asp-route-sort="@sort" class="d-block p-2 text-decoration-none text-dark">@sort</a>
                                    </li>
                                }
                            }
                            </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <form method="get" asp-action="Index" asp-controller="Home">
                            <div style="height:200px; overflow:auto;">
                                @{
                                    foreach (var tag in Model.Tags)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="true" id="@tag.Tag.Name" name="@tag.Tag.Name" @(tag.IsSelected ? "checked" : "")>
                                            <label class="form-check-label" for="@tag.Tag.Name">
                                                @tag.Tag.Name (@tag.Count)
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Apply</button>
                            <button type="reset" class="btn btn-secondary mt-2">Reset</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
